<div class="main-content">
    <div class="container-fluid">
        <form id="contact-form" class="form-group" [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
            <label for="name" class="center-block">
                Nombre:<input type="text" id="name" class="form-control" formControlName="name"  placeholder="Ingrese nombre">
            </label>
            <label for="email" class="center-block">
                Correo electrónico:<input type="text" id="email" class="form-control" formControlName="email"  placeholder="Ingrese email">
            </label>
            <label for="message" class="center-block">
                Texto:<input type="text" id="message" class="form-control" formControlName="text"  placeholder="Ingrese mensaje">
            </label>
            </div>
            <button type="submit" class="btn btn-primary" disabled="!contactForm.valid">Guardar</button>
        </form>
    </div>
</div>