<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor='let item of users; let i = index'>
                <p id="aa"><strong>Nombre: </strong>{{item.name}} - <strong>Apellido: </strong>{{item.surname}}</p>
            </div>
        </div>
    </div>
</div>